mixin friend (user)
    - let active = user.active ? " chat--active" : "";
    section(class="chats__chat chat" + active)
        img.chat__photo(src=user.photo, alt='photo')
        span.chat__name= user.name
        if user.mute
            img.chat__mute(src='../img/mute.svg', alt='mute')
        .chat__content
            time.chat__time= user.time
            span.chat__message= user.status
mixin message (fromWhom)
    if !fromWhom.user
        section.message__friend
            img.message__photo(src=fromWhom.photo, alt='profile_photo')
            .message__content
                span.message__text= fromWhom.text
                time.message__time= fromWhom.time
    else
        section.message__user
            .message__content
                span.message__text= fromWhom.text
                time.message__time= fromWhom.time
mixin icons (svg)
    if svg.active
        li(class="sidebar__icons sidebar__icons--active")
            a(href='#')
                img(src=svg.photo, alt='photo')
    else
        if !svg.someElse
            li.sidebar__icons
                a(href='#')
                    img(src=svg.photo, alt='photo')
        else
            li.sidebar__icons
                a(href='#')
                    img(src=svg.photo, alt='photo')
                a.sidebar__notification--one(href='#')
                    img(src='../img/one.svg', alt='1')